# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Bytecode
*.pyc
*.pyo

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Data (datasets)
# =========================
data/raw/*
data/processed/*

!data/raw/notes.md
!data/processed/notes.md

# =========================
# Training outputs
# =========================
runs/
outputs/

*.mp4
*.avi